*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  height:100vh;
  background: lightblue;
  overflow-x: hidden;
}

.container{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-column-gap: 0.5rem;
  grid-row-gap:0.5rem;
  width:100vw;
}

.form-input{
  display:flex;
  flex-direction: column;
  gap:0.5rem;
}

.form-input button{
  background-color: lightgreen;
  border: none;
  color:black;
  padding:0.5rem 0.5rem;
  border-radius: 5px;
  cursor:pointer;
  font-size: 1rem;
  transition: all 0.2s ease-out;
}

.form-input button:hover{
  background-color: green;
  color:#fff;
}

.form-input input{
  outline: none;
  background: rgba(90, 90, 90, 0.3);
  padding:0.5rem 2rem;
  font-size: 1rem;
  border: none;
  border: 1px solid rgba(90, 90, 90, 0.3);
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.form-input input:focus{
  background: rgba(90, 90, 90, 0.55);
  border: 1px solid rgba(90, 90, 90, 0.55);
}

.weather-container{
  display:flex;
  justify-content: center;
}

.condition-container{
  border:1.5px solid black;
  background: rgba(90, 90, 90, 0.5);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1rem 0;
  gap:0.5rem;
  min-width:250px;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}

.condition-container:hover{
  transform: scale(1.05);
  background: rgba(90, 90, 90, 0.65);
}

.condition-container p{
  font-size: 1.2rem;
  pointer-events: none;
}

.condition-container .min-max{
  font-size: 0.95rem;
}

.condition-container .extra-info-container{
  display:flex;
  flex-direction: column;
  background-color: rgba(90, 90, 90, 0.35);
  border: 1px solid black;
  width:85%;
  padding:0.5rem 0;
  gap:0.5rem;
  text-align: center;
  transition: all 0.2s ease-out;
}

.condition-container .extra-info-container h3{
  font-size:1rem;
  font-weight: bold;
}

.condition-container h2{
  font-size: 1.8rem;
  pointer-events: none;
}

img{
  width:90px;
  height:90px;
}

span{
  font-weight: bolder;
}


.hidden{
  display:none !important;
}

.extremeCold{
  color:darkcyan;
}

.cold{
  color:cyan;
}

.slightyWarm{
  color:yellowgreen;
}

.warm{
  color:gold;
}

.hot{
  color:orange;
}

.extremeHot{
  color:darkred;
}

h3{
  font-size: 1rem;
  margin:0rem 1rem; 
}