*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  height:100vh;
  background: lightblue;
}

.container{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-column-gap: 0.5rem;
  grid-row-gap:0.5rem;
  width:100vw;
}


.weather-container{
  display:flex;
  justify-content: center;
}

.condition-container{
  border:1px solid black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:3.5rem 0;
  gap:1rem;
  min-width:250px;
}

img{
  width:90px;
  height:90px;
}
